{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mdb.min.css'%}">
</head>
<body>
    <h1>hi baby</h2>
    <span class="border"></span>
<span class="border-top"></span>
<span class="border-right"></span>
<span class="border-bottom"></span>
<span class="border-left"></span>
    
<img src="{% static 'images/swamy1.jpg'%}" class="rounded-sm" alt="height=100px"height=500px>
<img src="{% static 'images/swamy.jpg'%}" class="rounded-lg" alt="height=100px"height=500px>

    <script src="{% static 'js/mdb.min.js'%}"></script>
</body>
</html>